@import 'tailwindcss';

:root {
  --foreground: #171717;
  --background: #f9fafb;
  /* 상태별 색상 */
  --color-normal: #10b981; /* 정상 - 초록 */
  --color-warning: #f59e0b; /* 경고 - 주황 */
  --color-critical: #ef4444; /* 위험 - 빨강 */
  --color-primary: #3b82f6; /* 메인 - 파랑 */
  --color-background: #f9fafb; /* 배경 - 회색 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
